@media (max-width: 576px){
	.advanced_addons_countdown.type-1 > span {
        font-size: 22px;
        line-height: 34px;
    }
    .advanced_addons_countdown.type-1 > span {
	    padding: 15px 0;
	}
}